.hn-nav
{
    @include hn-mobile
    {
        $class: '.hn-expand > .hn-expand-body';
        $complete-selector: $class;

        @for $i from 1 through $hn-nesting-max-depth  
        {
            & #{$complete-selector} > .hn-item,
            & #{$complete-selector} > .hn-expand > .hn-item
            {
                padding-left: calc(#{$i} * #{$hn-top-nesting-indentation});
            }

            $complete-selector: $complete-selector + ' > ' + $class;
        }
    }
}

.hn-mode .hn-mode-content.hn-nav
{
    $class: '.hn-expand > .hn-expand-body';
    $complete-selector: $class;

    @for $i from 1 through $hn-nesting-max-depth  
    {
        & #{$complete-selector} > .hn-item,
        & #{$complete-selector} > .hn-expand > .hn-item
        {
            padding-left: calc(#{$i} * #{$hn-top-nesting-indentation});
        }

        $complete-selector: $complete-selector + ' > ' + $class;
    }
}

.hn-side > .hn-nav
{
    $class: '.hn-expand > .hn-expand-body';
    $complete-selector: $class;

    @for $i from 1 through $hn-nesting-max-depth  
    {
        & #{$complete-selector} > .hn-item,
        & #{$complete-selector} > .hn-expand > .hn-item
        {
            padding-left: calc(#{$i} * #{$hn-side-nesting-indentation});
        }

        $complete-selector: $complete-selector + ' > ' + $class;
    }
    
}

@include hn-side-collapsed
{
    .hn-item
    {
        padding-left: 0 !important;
    }
}   
