@mixin hn-side-expanded 
{
    @include hn-mobile
    {
        .hn-side > .hn-input-state-nav:not(.hn-hide-mobile):checked ~ .hn-nav
        {
            @content;
        }
    }
    
    @include hn-desktop
    {
        .hn-side > .hn-input-state-nav:not(.hn-hide-desktop):checked ~ .hn-nav
        {
            @content;
        }
    }
}

@mixin hn-side-collapsed 
{
    @include hn-mobile
    {
        .hn-side > .hn-input-state-nav:not(.hn-hide-mobile):not(:checked) ~ .hn-nav
        {
            @content;
        } 
    }
    @include hn-desktop
    {
        .hn-side > .hn-input-state-nav:not(.hn-hide-desktop):not(:checked) ~ .hn-nav
        {
            @content;
        } 
    }
}