$hn-top-height: var(--hn-top-height);
$hn-top-icon-width: var(--hn-top-icon-width);
$hn-top-font-size: var(--hn-top-font-size);
$hn-top-shadow: var(--hn-top-shadow);

$hn-top-item-min-height: var(--hn-top-item-min-height); 

$hn-top-link-padding-top: var(--hn-top-link-padding-top);
$hn-top-link-padding-right: var(--hn-top-link-padding-right);
$hn-top-link-padding-bottom: var(--hn-top-link-padding-bottom);
$hn-top-link-padding-left: var(--hn-top-link-padding-left);

$hn-top-expand-link-padding-top: var(--hn-top-expand-link-padding-top);
$hn-top-expand-link-padding-right: var(--hn-top-expand-link-padding-right);
$hn-top-expand-link-padding-bottom: var(--hn-top-expand-link-padding-bottom);
$hn-top-expand-link-padding-left: var(--hn-top-expand-link-padding-left);

$hn-top-input-width: var(--hn-top-input-width);

$hn-top-nesting-indentation: var(--hn-top-nesting-indentation);

$hn-top-desktop-expand-body-bg: var(--hn-top-desktop-expand-body-bg);
$hn-top-desktop-expand-body-border: var(--hn-top-desktop-expand-body-border);
$hn-top-desktop-expand-body-shadow: var(--hn-top-desktop-expand-body-shadow);