@include hn-desktop
{
    .hn-expand > .hn-input-state:not(.hn-hide-desktop):focus ~ .hn-item
    {
        &,
        &.hn-input
        {
            color: $hn-item-hover-color;
            background: $hn-item-hover-bg;
        }

        &.hn-active,
        &.hn-active.hn-input
        {
            color: $hn-item-active-hover-color;
            background: $hn-item-active-hover-bg;
        }

        &.hn-active-child,
        &.hn-active-child.hn-input
        {
            color: $hn-item-active-child-hover-color;
            background: $hn-item-active-child-hover-bg;
        }

        & .hn-input
        {
            color: $hn-input-hover-color;
            background: $hn-input-hover-bg;
        }
    }

    .hn-expand > .hn-input-state:not(.hn-hide-desktop):checked:focus ~ .hn-item .hn-input
    {
        color: $hn-input-active-hover-color;
        background: $hn-input-active-hover-bg;
    }
}

@include hn-mobile
{
    .hn-expand > .hn-input-state:not(.hn-hide-mobile):focus ~ .hn-item
    {
        &,
        &.hn-input
        {
            color: $hn-item-hover-color;
            background: $hn-item-hover-bg;
        }

        &.hn-active,
        &.hn-active.hn-input
        {
            color: $hn-item-active-hover-color;
            background: $hn-item-active-hover-bg;
        }

        &.hn-active-child,
        &.hn-active-child.hn-input
        {
            color: $hn-item-active-child-hover-color;
            background: $hn-item-active-child-hover-bg;
        }

        & .hn-input
        {
            color: $hn-input-hover-color;
            background: $hn-input-hover-bg;
        }
    }

    .hn-expand > .hn-input-state:not(.hn-hide-mobile):checked:focus ~ .hn-item .hn-input
    {
        color: $hn-input-active-hover-color;
        background: $hn-input-active-hover-bg;
    }
}

.hn-input-state-nav:focus ~ .hn-nav .hn-input-nav
{
    color: $hn-item-hover-color;
    background: $hn-item-hover-bg;
}