:root
{
    --hn-side-width: 20rem;
    --hn-side-font-size: 1.4rem;
    --hn-side-collapsed-width: 4rem;

    --hn-side-item-min-height: 4rem;
    --hn-side-item-spacing-vertical: 1rem;
    --hn-side-item-spacing-horizontal: 1rem;

    --hn-side-input-size: 1.4rem;
    --hn-side-input-margin: 0;
    --hn-side-input-padding: 0 1rem;
    --hn-side-collapsed-input-size: 1rem;
    --hn-side-collapsed-input-margin: 0rem;
    --hn-side-collapsed-input-padding: 0rem;

    --hn-side-nesting-indentation: 1rem;
}