$hn-side-width: var(--hn-side-width);
$hn-side-font-size: var(--hn-side-font-size);
$hn-side-collapsed-width: var(--hn-side-collapsed-width);

$hn-side-item-min-height: var(--hn-side-item-min-height);
$hn-side-item-spacing-vertical: var(--hn-side-item-spacing-vertical);
$hn-side-item-spacing-horizontal: var(--hn-side-item-spacing-horizontal);

$hn-side-input-size: var(--hn-side-input-size);
$hn-side-input-margin: var(--hn-side-input-margin);
$hn-side-input-padding: var(--hn-side-input-padding);
$hn-side-collapsed-input-size: var(--hn-side-collapsed-input-size);
$hn-side-collapsed-input-margin: var(--hn-side-collapsed-input-margin);
$hn-side-collapsed-input-padding: var(--hn-side-collapsed-input-padding);

$hn-side-nesting-indentation: var(--hn-side-nesting-indentation);
