.hn-side > .hn-nav
{
    $expand-selector: '.hn-expand-body';

    @for $i from 1 through $hn-nesting-max-depth  
    {
        & #{$expand-selector} .hn-link,
        & #{$expand-selector} .hn-expand .hn-link

        {
            padding-left: calc(#{$i} * #{$hn-side-nesting-indentation} + #{$hn-side-link-padding-left});
        }

        $expand-selector: $expand-selector + ' ' + '.hn-expand-body';
    }
    
}

@include hn-side-collapsed
{
    .hn-link
    {
        padding-left: #{$hn-side-link-padding-left} !important;
    }
}   
