$hn-side-width: var(--hn-side-width);
$hn-side-icon-width: var(--hn-side-icon-width);
$hn-side-font-size: var(--hn-side-font-size);
$hn-side-shadow: var(--hn-side-shadow);

$hn-side-item-min-height: var(--hn-side-item-min-height);

$hn-side-link-padding-top: var(--hn-side-link-padding-top);
$hn-side-link-padding-right: var(--hn-side-link-padding-right);
$hn-side-link-padding-bottom: var(--hn-side-link-padding-bottom);
$hn-side-link-padding-left: var(--hn-side-link-padding-left);

$hn-side-expand-link-padding-top: var(--hn-side-expand-link-padding-top);
$hn-side-expand-link-padding-right: var(--hn-side-expand-link-padding-right);
$hn-side-expand-link-padding-bottom: var(--hn-side-expand-link-padding-bottom);
$hn-side-expand-link-padding-left: var(--hn-side-expand-link-padding-left);

$hn-side-input-width: var(--hn-side-input-width);

$hn-side-nesting-indentation: var(--hn-side-nesting-indentation);

$hn-side-collapsed-input-size: var(--hn-side-collapsed-input-size);
$hn-side-collapsed-input-font-size: var(--hn-side-collapsed-input-font-size);
$hn-side-collapsed-input-margin: var(--hn-side-collapsed-input-margin);
$hn-side-collapsed-input-padding: var(--hn-side-collapsed-input-padding);

$hn-side-collapsed-input-bg: var(--hn-side-collapsed-input-bg);
$hn-side-collapsed-input-color: var(--hn-side-collapsed-input-color);

$hn-side-collapsed-input-hover-bg: var(--hn-side-collapsed-input-hover-bg);
$hn-side-collapsed-input-hover-color: var(--hn-side-collapsed-input-hover-color);
