.hn-nav
{
    @include hn-mobile
    {
        $expand-selector: '.hn-section:not(.hn-section-brand) .hn-expand-body';

        @for $i from 1 through $hn-nesting-max-depth  
        {
            & #{$expand-selector} .hn-link,
            & #{$expand-selector} .hn-expand .hn-link
            {
                padding-left: calc(#{$i} * #{$hn-top-nesting-indentation} + #{$hn-top-link-padding-left});
            }

            $expand-selector: $expand-selector + ' ' + '.hn-expand-body';
        }
    }
}

.hn-mode .hn-mode-content.hn-nav
{
    $expand-selector: '.hn-expand-body';

    @for $i from 1 through $hn-nesting-max-depth  
    {
        & #{$expand-selector} .hn-link,
        & #{$expand-selector} .hn-expand .hn-link
        {
            padding-left: calc(#{$i} * #{$hn-top-nesting-indentation} + #{$hn-top-link-padding-left});
        }

        $expand-selector: $expand-selector + ' ' + '.hn-expand-body';
    }
}