:root
{
    --hn-top-height: 5rem;
    --hn-top-font-size: 1.6rem;
    --hn-top-expand-min-width: 20rem;

    --hn-top-item-spacing-vertical: 1rem;
    --hn-top-item-spacing-horizontal: 1rem;
    
    --hn-top-input-size: 1.6rem;
    --hn-top-input-margin: 0;
    --hn-top-input-padding: 0 1rem;

    --hn-top-nesting-indentation: 1rem;
    --hn-top-desktop-expand-body-bg: var(--hn-bg);
    --hn-top-desktop-expand-body-border: thin solid red;

}
