$hn-top-height: var(--hn-top-height);
$hn-top-font-size: var(--hn-top-font-size);
$hn-top-shadow: var(--hn-top-shadow);

$hn-top-item-spacing-vertical: var(--hn-top-item-spacing-vertical);
$hn-top-item-spacing-horizontal: var(--hn-top-item-spacing-horizontal);

$hn-top-input-size: var(--hn-top-input-size);
$hn-top-input-margin: var(--hn-top-input-margin);
$hn-top-input-padding: var(--hn-top-input-padding);
$hn-top-nesting-indentation: var(--hn-top-nesting-indentation);

$hn-top-desktop-expand-body-bg: var(--hn-top-desktop-expand-body-bg);
$hn-top-desktop-expand-body-border: var(--hn-top-desktop-expand-body-border);
$hn-top-desktop-expand-body-shadow: var(--hn-top-desktop-expand-body-shadow);