:root
{
    --hn-top-height: 5rem;
    --hn-top-font-size: 1.6rem;
    --hn-top-shadow: 0 0 1rem 0 #000;

    --hn-top-item-spacing-vertical: 1rem;
    --hn-top-item-spacing-horizontal: 1rem;
    
    --hn-top-input-size: 1.6rem;
    --hn-top-input-margin: 0;
    --hn-top-input-padding: 0 1rem;

    --hn-top-nesting-indentation: 1rem;
    --hn-top-desktop-expand-body-bg: var(--hn-bg);
    --hn-top-desktop-expand-body-border: thin solid red;
    --hn-top-desktop-expand-body-shadow: 0 0.2rem 0.2rem rgba(0, 0, 0, 0.4), -0.2rem 0.2rem 0.4rem rgba(0, 0, 0, 0.4), 0.2rem 0.2rem 0.4rem rgba(0, 0, 0, 0.4);

}
