<div class="bg-gray" style="padding-top: 2rem; padding-bottom: 7rem">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h2>
                    Developed by
                </h2>
                <a href="https://acmion.com">
                    <img class="img-responsive" src="https://cdn.acmion.com/acmion/assets/acmion/logo.svg" style="height: 4rem" />
                    <br />
                    Acmion.com
                </a>
                
                <br />
                <br />
                <br />
            </div>
            <div class="col-md-4">
                <h2>
                    GitHub
                </h2>
                <a href="https://github.com/Acmion/HyperNav/">
                    HyperNav
                </a>
                <br />
                <a href="https://github.com/Acmion/HyperNav-Documentation/">
                    HyperNav Documentation
                </a>

                <br />
                <br />
                <br />
            </div>
            <div class="col-md-4">
                <h2>
                    Why HyperNav?
                </h2>
                <p>
                    HyperNav is a CSS only web navigation menu framework that gives the
                    developers tools to create complex and unopinionated navigation menus
                    with ease.
                </p>
                
                <br />
                <br />
                <br />
            </div>
        </div>
    </div>
</div>