@include hn-desktop
{
    .hn-input-state-nav:not(.hn-hide-desktop):checked ~ .hn-nav 
    {
        & .hn-input-nav .hn-input-default
        {
            display: none;
        }

        & .hn-input-nav .hn-input-active
        {
            display: flex;
        }
    }

    .hn-expand > .hn-input-state:not(.hn-hide-desktop):checked ~ .hn-item.hn-input,
    .hn-expand > .hn-input-state:not(.hn-hide-desktop):checked ~ .hn-item .hn-input
    {
        & .hn-input-default
        {
            display: none;
        }

        & .hn-input-active
        {
            display: flex;
        }
    }

    .hn-expand > .hn-input-state:not(.hn-hide-desktop):checked ~ .hn-item .hn-input
    {
        color: $hn-input-active-color;
        background: $hn-input-active-bg;

        &:hover
        {
            color: $hn-input-active-hover-color;
            background: $hn-input-active-hover-bg;
        }
    }

    .hn-input-state:not(.hn-hide-desktop):not(.hn-input-state-none):checked ~ .hn-overlay:not(.hn-hide-desktop)
    {
        display: block;
    }
}

@include hn-mobile
{
    .hn-input-state-nav:not(.hn-hide-mobile):checked ~ .hn-nav 
    {
        & .hn-input-nav .hn-input-default
        {
            display: none;
        }

        & .hn-input-nav .hn-input-active
        {
            display: flex;
        }
    }

    .hn-expand > .hn-input-state:not(.hn-hide-mobile):checked ~ .hn-item.hn-input,
    .hn-expand > .hn-input-state:not(.hn-hide-mobile):checked ~ .hn-item .hn-input
    {
        & .hn-input-default
        {
            display: none;
        }

        & .hn-input-active
        {
            display: flex;
        }
    }

    .hn-expand > .hn-input-state:not(.hn-hide-mobile):checked ~ .hn-item .hn-input
    {
        color: $hn-input-active-color;
        background: $hn-input-active-bg;

        &:hover
        {
            color: $hn-input-active-hover-color;
            background: $hn-input-active-hover-bg;
        }
    }

    .hn-input-state:not(.hn-hide-mobile):not(.hn-input-state-none):checked ~ .hn-overlay:not(.hn-hide-mobile)
    {
        display: block;
    }
}



.hn-input:not(.hn-item):hover
{
    color: $hn-input-hover-color;
    background: $hn-input-hover-bg;
}



.hn-input-state:not(.hn-input-state-none):not(.hn-input-state-nav):not(.hn-input-state-side-container):checked ~ .hn-overlay
{
    // Top nav with modes and top offsetted side nav menu z-index fix
    z-index: $hn-nav-z-index;
}

@include hn-desktop
{
    // Hide the overlay if it has been enabled from mobile
    // with the nav button.
    .hn-input-state.hn-input-state-nav:checked ~ .hn-overlay
    {
        display: none !important;
    }
}
