:root
{
    --hn-input-bg: transparent;
    --hn-input-color: inherit;

    --hn-input-hover-bg: rgba(0, 0, 0, 0.2);
    --hn-input-hover-color: inherit;

    --hn-input-active-bg: var(--hn-input-bg);
    --hn-input-active-color: var(--hn-input-color);

    --hn-input-active-hover-bg: var(--hn-input-hover-bg);
    --hn-input-active-hover-color: var(--hn-input-hover-color);

}
