*, *::after, *::before
{
    box-sizing: border-box;
}

html
{
    height: 100%;
    font-size: 62.5%;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

body
{
    height: 100%;
    margin: 0;
    font-size: 1.6rem;
}

main
{
    width: 100%;
    margin-top: var(--hn-top-height);

    display: flex;
}

a
{
    text-decoration: none;
}

h1
{
    margin: 0;
    line-height: 100%;
}

ul
{
    padding: 0;
    list-style: none;
}

#hn-logo:hover .hn-icon,
#hn-logo:focus .hn-icon
{
    filter: saturate(2);
}

#hyper-nav-theme-name-element
{
    margin-top: 0;
}

/* Some "hacks" to make the shadow look better and so that the left menu is sticky. Not on IE11. */

#hn-side-sticky-container
{
    z-index: 1;
    position: sticky; 
    top: var(--hn-top-height); 
    margin-top: var(--hn-top-height);
}

#hn-side-sticky-container .hn-side .hn-nav
{
    min-height: calc(100vh - var(--hn-top-height));
}

#hn-side-sticky-container .hn-side .hn-nav
{
    overflow: auto;
    max-height: calc(100vh - var(--hn-top-height));
}

@media not screen and (-ms-high-contrast: active), (-ms-high-contrast: none) 
{  
    #hn-side-sticky-container
    {
        z-index: initial;
        position: static; 
        top: 0; 
        margin-top: var(--hn-top-height);
        height: 100%;
    }

    #hn-side-sticky-container .hn-side .hn-nav
    {
        min-height: auto;
    }

    #hn-side-sticky-container .hn-side .hn-nav
    {
        overflow: visible;
        max-height: 9999999999px;
    }
}

#content-container,
#content-hn-container
{
    padding: 2.4rem;
}

#content-top-shadow
{
    position: fixed; 
    left: 0;
    top: var(--hn-top-height); 
    width: 100%; 
    box-shadow: 0 0 1rem 0.2rem #000;
}

#content-side-shadow,
#content-side-shadow-mobile
{
    position: absolute; 
    left: 0;
    top: 0; 
    height: 100%; 
    box-shadow: 0 0 1rem 0.2rem #000;
}

#details h3
{
    margin-bottom: 0;
}


#details h4
{
    margin: 0;
}

#details p
{
    margin-top: 0;
}

.continent-container
{
    flex-wrap: wrap;
}

.continent-container h3
{
    margin-top: 0;
}

.continent-countries
{
    padding: 1rem;
}

@media (max-width: 767px)
{
    main
    {
        flex-wrap: wrap;
    }
    
    #content-container
    {
        order: 1;
    }

    #content-hn-container
    {
        order: 0;
    }

    .continent-countries
    {
        width: 100%;
    }
}

.theme-h-space
{
    width: 2rem;
    height: 1px;
    display: inline-block;
}

/* Bootstrap container */

.container 
{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    margin-left: 0px;
}

@media (min-width: 576px) 
{
    .container 
    {
        max-width: 540px;
    }
}

@media (min-width: 768px) 
{
    .container 
    {
        max-width: 720px;
    }
}

@media (min-width: 992px) 
{
    .container 
    {
        max-width: 960px;
    }
}

@media (min-width: 1200px) 
{
    .container 
    {
        max-width: 1140px;
    }
}